#header {
  height: 60px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.right {
  float: right;
}
.left {
  float: left;
}
li {
	float: left;
	display: block;
  padding: 8px;
}

li a {
	text-decoration: none;
  
}
.center {
  display: block;
  margin: 100px auto 0px auto;
}
#logo {
  
}
#search {
  margin: 0 auto;
}
form {
  margin: 0 40%;
}
#spacer {
  height: 150px;
}